---
import Link from "./ui/link.astro";
---

<div class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    今すぐ、配車業務を<br class="hidden md:block" />効率化しよう。
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    面倒な会員登録は不要。完全無料のデスクトップアプリで、<br class="hidden md:block" />
    あなたの現場のDXを今日から始められます。
  </p>
  <div class="flex mt-5">
    <Link href="https://apps.microsoft.com/detail/9p7wbz3mtfzl?hl=ja-jp&gl=JP&ocid=pdpshare" target="_blank" style="inverted">
    無料で Microsoft Store から入手 Windows版をダウンロード
    </Link>
  </div>
</div>